    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    p{
        color: ghostwhite;
        font-family: 'Roboto', sans-serif;
        font-size: larger;
        font-weight: 500;
    }
    
    nav{
        .fa-solid{
            position: absolute;
            right: 0;
            font-size: 35px;
            padding: 25px;
        }
    }
    
    body{
        background-color: rgb(255, 234, 210);
    }
    
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card{
        p{
            padding-bottom: 25px;
            font-size: 2.5em;
        }
        h3{
            font-size: 2.5em;
            color: ghostwhite;
            margin: 50px;
        }
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(172, 177, 214);
        border: solid rgb(219, 223, 234) 1px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.20) 0px 2px 40px 2px;
        img{
            width: 400px;
            padding-bottom: 50px;
        }
    }

    .delete-all{
        input{
            font-weight: 500;
            color: rgb(255, 255, 255);
            background-color: rgb(130, 148, 196);
            border-radius: 25px;
            padding: 0 15px;
            font-size: 20px;
            transition: all 0.2s ease-in-out;
            border: solid 1px rgb(219, 223, 234);
            height: 35px;
            margin: 50px 0;
            box-shadow: rgba(0, 0, 0, 0.200) 0px 0px 30px 0px;
            &:hover{
                background-color:  rgb(219, 223, 234);
                color: rgb(130, 148, 196);
                border: solid rgb(130, 148, 196) 2px;
                transform: scale(1.03);
                box-shadow: rgba(0, 0, 0, 0.200) 0px 0px 40px 0px;
                backdrop-filter: blur(10px);
            }
        }
    }

    table {
        width: 700px;
        border-spacing: 0;
    }
  
    tr:first-child {
        vertical-align: middle;
        color: ghostwhite;
        font-size: larger;
    }
  
    tr {
        text-align: center;
        width: 100%;
    }
    
    tr:nth-child(2) {
        background-color: rgba(248, 248, 255, 0.300);
        font-size: 1.3em;
        font-weight: 500;
    }
    
    th {
        width: 150px;
        height: 55px;
        vertical-align: middle;
        text-align: center;
        border-collapse: collapse;
        border-bottom: rgba(255, 234, 210, 0.802) solid 1px;
    }
    
    td {
        width: 150px;
        height: 55px;
        text-align: center;
        vertical-align: middle;
        text-align: center;
        color: rgb(255, 255, 255);
        border-bottom: rgba(130, 148, 196, 0.807) solid 1px;
        white-space: nowrap;
    }

    td:last-child{
        color: ghostwhite;
        font-weight: 600;
    }


    .sub-element{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 25px;
        font-weight: 700;
        padding-left: 1px;
        color: ghostwhite;
        background-color: rgb(239, 75, 75);
        border: none;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.200) 0px 0px 30px 0px;
            &:hover{
                background-color: ghostwhite;
                color: rgb(239, 75, 75);
                box-shadow: rgba(0, 0, 0, 0.200) 0px 0px 40px 0px;
            }    
    }

    